.App {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

.top-section {
    background-image: url('../assets/back.webp'); /* Replace with actual path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.hero-section {
    display: flex;
    align-items: center;
    /* Semi-transparent white background */
    padding: 40px;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    color: #7b4d35;
    gap: 20px; 
}

.hero-text {
    flex: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    
    border-radius: 5%;
    
}

.hero-text h2 {
    font-size: 2.5rem;
    color: #7b4d35;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0;
}

.date-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5%;
}

.date-inputs input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100px; 
    text-align: center;
}

.date-inputs button {
    padding: 8px 16px;
    background-color: transparent;
    color: #7b4d35;
    border: 1px solid #7b4d35;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.date-inputs button:hover {
    background-color: #7b4d35;
    color: white;
}

.App-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem; 
}
.middle-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .middle-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
  }
  
  .card-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  